parameters:
	autoload_files:
		- %rootDir%/../../../PhpcsChanged/functions.php
		- %rootDir%/../../../PhpcsChanged/Cli.php
		- %rootDir%/../../../PhpcsChanged/GitWorkflow.php
		- %rootDir%/../../../PhpcsChanged/SvnWorkflow.php
	inferPrivatePropertyTypeFromConstructor: true
